[Unit]
Description=code-server
After=nginx.service

[Service]
Type=simple
ExecStart=REPLACE_TEXT --bind-addr 0.0.0.0:${VSCODE_PORT} --auth none

[Install]
WantedBy=multi-user.target